
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i');
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* General CSS */

img{
	max-width: 100%;
}

ul a{
	text-decoration: none;
	color: inherit;
}

/* Header CSS */

header{
	display: flex;
	justify-content: center;
	flex-direction: row;
	height: 80px;
	border-bottom: 1px solid black;
}

header ul{
	padding: 0;
	margin: 0;
}


/* Logo CSS */

a.logo{
	margin: 0 0 0 1%;
	display: flex;
	justify-content: center;
	align-items: center;
}

a.logo img{
	width: 100px;

}

/* Header Main Nav CSS */

nav.main-menu{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul.main-nav{
	width: 80%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	list-style: none;
}

ul.main-nav li{
    flex-grow: 2;
	display: flex;
	float: left;
	justify-content: center;
}


ul.main-nav li:nth-child(odd){
	flex-grow: 1;
}

ul.main-nav li a{
	color: inherit;
	font-size: 1.2em;
	letter-spacing: 0.2em;
	transition: 300ms background-color ease-out;
	border-radius: 10px;
}

		/* Hover effects */

		ul.main-nav li a:hover::after{
			width: 100%;
		}

		ul.main-nav li a::after{
			content: '';
			display: block;
    		width: 0;
    		height: 2px;
    		background: #000;
    		transition: width 300ms;
		}



/* Header Icon Nav CSS */

header > div{
	display: flex;
	justify-content: center;
	align-items: center;
}

ul.icon-menu{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

ul.icon-menu li{
	list-style: none;
	float: left;
}

ul.icon-menu li a{
	display: block;
	padding: 5px 10px 5px 10px;
}